.copyright {
  text-align: center;
  font-size: 0.6em;
 
}

.fa-copyright {
  font-size: 0.5em;
}

.legal a {
  color: var(--color-light);
}

.legal a:visited {
  color: var(--color-light);
}

.rs {
  font-size: 0.8em;
}

.rs a {
  color: var(--color-light);
  text-decoration: none;
}



