.subscribe-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.subscribe-text {
  text-align: center;

}

.subscribe-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input {
  padding: 10px;

}

