.subscribe-component {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe {
  width: 60%;
}

.subscribe-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input {
  padding: 10px;

}

